checkpoints/*
**/__pycache__/
**/*.gz
**/*.tar.gz
**/*.tar
**/*.swp
**/*.pt
**/*.pth
**/.ipynb_checkpoints/
clip/

models/clicker.py
models/myclip.py
models/blocks.py

utils/data_bk.py
utils/data_bk2.py
utils/data_bk3.py

train_my_clip.py
test_myclip.ipynb
test_clip.ipynb
test_dino_with_sam_bk.ipynb
